@import "./variables.css";

html, body, button, input, select, textarea {
  -webkit-font-smoothing: antialiased;
  color: var(--gray-dark);
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
}

html, body {
  margin: 0;
  padding: 0;
}

input {
  font-size: 1rem;
}
