@import "./variables.css";

.productOrder {
  border: 1px solid var(--gray-light);
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 40%;
}

.productOrderPrice {
  border-bottom: 1px solid var(--gray-light);
  height: 60px;
  padding: 10px 20px;
}

.productOrderPriceCurrency {
  color: var(--blue);
  font-size: 1.25em;
  font-weight: 600;
  position: relative;
  top: -1rem;
}

.productOrderPriceDollars{
  color: var(--blue);
  font-size: 2.5rem;
  font-weight: 600;
}

.productOrderPriceCents {
  color: var(--blue);
  font-size: 1.25em;
  font-weight: 600;
  position: relative;
  top: -1rem;
}

.productOrderPriceShipping {
  font-size: 1rem;
  margin-left: 6px;
  position: relative;
  top: -1.2rem;
}

.productOrderPriceShippingAmount {
  font-weight: 800;
}

.productOrderShippedBy {
  border-bottom: 1px solid var(--gray-light);
  box-sizing: border-box;
  font-weight: 600;
  height: 40;
  padding: 10px 20px;
}

.productOrderShippedByLink {
  color: var(--blue);
  font-weight: 800;
  text-decoration: none;
}

.productOrderShippingOptions {
  border-bottom: 1px solid var(--gray-light);
  box-sizing: border-box;
  font-size: 0.9rem;
  height: 40px;
  padding: 10px 20px;

  & i {
    margin-right: 10px;
    vertical-align: middle;
  }
}

.productOrderShippingOptionsBold {
  font-weight: 800;
}

.productOrderPickup {
  border-bottom: 1px solid var(--gray-light);
  box-sizing: border-box;
  font-size: 0.9rem;
  height: 40px;
  padding: 10px 20px;

  & i {
    margin-right: 10px;
    vertical-align: middle;
  }
}

.productOrderCarePlan {
  background-color: var(--gray-lighter);
  border-bottom: 1px solid var(--gray-light);
  box-sizing: border-box;
  height: 130px;
  padding: 10px 20px;
}

.productOrderCarePlanHeader {
   & i {
    color: var(--blue);
    font-size: 1.2rem;
    margin-left: 4px;
    vertical-align: middle;
   }
}

.productOrderCarePlanHeaderBold {
  font-weight: 600;
}

.productOrderCarePlanItem {
  margin-top: 10px;

  & i {
    color: var(--green);
    cursor: pointer;
    font-size: 2rem;
    margin-right: 10px;
    vertical-align: middle;
  }
}

.productOrderCarePlanItemBold {
  font-weight: 600;
}

.productOrderAddToCart {
  background-color: var(--gray-lighter);
  border-radius: 4px;
  box-sizing: border-box;
  height: 80px;
  padding: 10px 20px;
}

.productOrderAddToCartQuantity {
  position: relative;
  top: 4px;
}

.productOrderAddToCartQuantityText {
  font-weight: 800;
}

.productOrderAddToCartQuantitySelector {
  background: var(--white);
  border: 1px solid #c2cfd6;
  border-radius: 100px;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 60px;

  & i {
    color: var(--blue);
    font-size: 1.25rem;
    margin-left: 10px;
    vertical-align: middle;
  }
}

.productOrderAddToCartButton {
  color: var(--white);
  background-color: var(--orange);
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  float: right;
  font-weight: 800;
  font-size: 1.1rem;
  height: 40px;
  line-height: 40px;
  max-width: 300px;
  width: 60%;
  padding: 0;
  outline: none;
}
